body {
  background-color: white;
  font-family: 'Ruwudu', serif;
  margin: 0;
}

.header {
  background-image: linear-gradient(rgb(31, 112, 21), #bebdba );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0 2px;
  color: white;
}

.main-container {
  max-width: 800px;
  padding: 2em;
  margin: 150px auto;
  box-shadow: 0 2px 5px rgb(46, 161, 94);
}

form {
  display: flex;
  margin-bottom: 1em;
}

#wu {
  flex: 1;
  padding: 1em;
  width: 100%;
  border: 1px solid rgb(21, 146, 21);
  border-radius: 70px;
  box-shadow: 0 2px 5px rgb(55, 80, 65);
}

#button-add {
  background-color: #d9dfdd;
  color: #49A078;
  border-radius: 80px;
  padding: 5px;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

li {
  padding: 1px;
  cursor: pointer;
}

li:hover {
  background-color: #34ffa0;
}