body {
  background-color: white;
  font-family: 'Ruwudu', serif;
}

.header {
  background-image: linear-gradient(rgb(31, 112, 21), #bebdba );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

.main-container {
  max-width: 800px;
  padding: 2em;
  margin-top: 100px;
  box-shadow: 0 2px 5px rgb(46, 161, 94);
}

#wu {
  width: 100%;
  border: greenyellow;
  border-radius: 70px;
  box-shadow: 0 2px 5px rgb(55, 80, 65);
}

#button-add {
  background-color: #d9dfdd;
  color: #49A078;
  border-radius: 80px;
  padding: 5px;
}